@model DoAnTotNghiep.Models.DanhMuc
@{
    ViewBag.Title = "Sửa danh muc";
    Layout = "~/Views/Shared/Admin.cshtml";
}
<h2>Sửa danh mục</h2>

@using (Html.BeginForm())
{
    @Html.HiddenFor(x => x.MaDanhMuc)

    <div class="form-group">
        <label>Tên danh mục</label>
        @Html.TextBoxFor(x => x.TenDanhMuc, new { @class = "form-control" })
    </div>

    <div class="form-group">
        <label>Mô tả</label>
        @Html.TextBoxFor(x => x.MoTa, new { @class = "form-control" })
    </div>

    <button type="submit" class="btn btn-primary mt-2">Cập nhật</button>
    <a href="@Url.Action("Index")" class="btn btn-secondary">Quay lại</a>
}